@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-800 dark:text-gray-200 bg-gray-50 dark:bg-gray-950 font-sans;
  }
}

/* Custom Scrollbar for better UI experience */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.5);
}

.safe-pb {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}
